<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="form" method="post">
    Username: <input type="text" name="userName"> <br> <br>

    Hobbies: <input type="checkbox" name="hobbies" value="Music"> Music
    <input type="checkbox" name="hobbies" value="Sports"> Sports
    <input type="checkbox" name="hobbies" value="Shopping"> Shopping <br> <br>

    Country:
    <select name="country" id="country">
        <option value="VN">Viet Nam</option>
        <option value="Lao">Lao</option>
        <option value="HQ">Han Quoc</option>
    </select>
    <br> <br>
    <button>Register</button>
</form>
</body>
</html>